.desc {
  position: relative;
  z-index: 2;
}

.desc__title {
  margin-top: 57px;
  margin-bottom: 10px;
  font-size: 55px;
  color: $blue;
  @include max-width(983px);

  @media (max-width: 991px) {
    br {
      display: none;
    }
    font-size: 42px;
  }

  @media (max-width: 650px) {
    font-size: 20px;
    margin-top: 15px;
  }

  b {
    background-color: $yellow;
    color: white;
    text-transform: uppercase;
    font-size: 48px;

    @media (max-width: 991px) {
      font-size: 36px;
    }

    @media (max-width: 650px) {
      font-size: 20px;
    }
  }

  span {
    text-decoration: underline;
  }
}

.desc__text {
  @include max-width(857px);
  margin-bottom: 45px;
  font-size: 32px;
  line-height: 1.13;

  @media (max-width: 650px) {
    margin-bottom: 15px;
  }
}

.desc__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  margin-bottom: 27px;

  @media (max-width: 650px) {
    margin-bottom: 20px;
    gap: 15px;
  }
}

.desc__item {
  padding-left: 61px;
  position: relative;
  font-size: 24px;
  line-height: 1;

  &::before {
    content: url('/src/img/icons/desc-check.svg');
    width: 42px;
    height: 42px;
    left: 0px;
    top: -10px;
    position: absolute;

    @media (max-width: 650px) {
      top: 0px;
    }
  }
}

.desc__note {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 74px;
  color: #8e8e8e;

  @media (max-width: 1000px) {
    margin-bottom: 40px;
  }

  @media (max-width: 650px) {
    font-size: 14px !important;
    margin-bottom: 15px;
  }
}
